table {
    width: 50%;
}

th {
    text-align: left;
    background-color: pink;
}

tr:nth-child(odd) {
    background-color: red;
}

tr:nth-child(even) {
    background-color: white;
}

tr, td, th {
    padding: 8px;
}